<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" > <!-- mybatis DTD 문서 정리 태그 -->

<configuration>

	<typeAliases>
		<!-- 이파일은  -->
	  <!-- <typeAlias type="net.daum.vo.MemberVO" alias="member" />  -->
	  <!-- MemberVO 빈클래스 객체명 m을 생성 -->
	</typeAliases>
</configuration>	